body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0;
}

/* Mise en page de l'en-tête */
.nav {
    display: flex;
    justify-content: space-between;
}

.navbar-brand {
    font-family: 'Raleway', sans-serif;
}



.navbar-nav {
    text-align: center;
}

.slogan-img {
    width: 55%;
    border-radius: 50%;
}

.navbar-collapse {
    text-align: center;
}

.btn, .btn-calender {
    text-decoration: none;
    padding: 13px;
    font-family: verdana;
    font-size: 1.1em;
    color: #eeece1;
    background-color: #d60064c4;
    border: 0px solid #d60064c4;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    box-shadow: 3px 3px 12px #7f7f7f;
    -webkit-box-shadow: 3px 3px 12px #7f7f7f;
    -moz-box-shadow: 3px 3px 12px #7f7f7f;
    transition: all 1s;
    }
    
    
    .btn:hover, .btn-calender:hover {
    padding: 13px;
    font-size: 1em;
    color: #d60064c4;
    background-color: #eeece1;
    border: 0px solid #FFFFFF;
    }

/* Mise en page de la partie "Missions" */

main {
    margin: 1.2em;
    text-align: justify;
}

h1, h2, .btn-calender {
    margin: 10px 0px 20px 0px; 
}

.rose {
    color: #eb3dbc;
}

.bold {
    font-weight: 700;
}

.about {
    margin-bottom: 3em;
}

.img-mission {
    width: 90vw;
}

.donate {
    position: absolute;
    right: 20px;
}
